<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Informacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card class="contenido">
      
    <ion-card-header >
      <img src="assets/logo.png" class="ion-padding">
      <ion-card-title class="titulo">RegistrAPP</ion-card-title>
    </ion-card-header>
    <ion-card-content >
      ¡Bienvenido a "RegistrAPP"!

Estamos emocionados de tenerte aquí. "RegistrAPP" es tu solución para simplificar y mejorar la gestión de la asistencia en tu entorno educativo. Con nuestra aplicación, te ofrecemos una forma eficiente y precisa de registrar tu asistencia en clase, sin complicaciones ni errores.

Nuestro objetivo es fomentar tu participación en las clases presenciales y hacer que la experiencia de seguimiento de asistencia sea más fluida para tus docentes. En "RegistrAPP", nos comprometemos a hacer que la comunicación y la gestión de la asistencia sean más fáciles que nunca en tu vida académica.

¡Comencemos a aprovechar al máximo tu experiencia educativa con "RegistrAPP"!
    </ion-card-content>
  </ion-card>
</ion-content>
